body {
  background: rgb(149, 194, 215);

  display: flex;
  flex-direction: column;
  font-size: 10px;
}

a {
  text-decoration: none;
}

.main-header {
  flex: 0 1 auto;
}

.main-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
}

.logo-text {
  background: white;
  font-size: 37px;
  text-align: center;
  text-transform: uppercase;
}


.thumbnail-image {
  display: block;
  width: 100%;
}

.thumbnail-item {
  border: 1px solid rgb(100%, 100%, 100%);
  border: 1px solid rgba(100%, 100%, 100%, 0.8);
  display: inline-block;
  min-width: 120px;
  max-width: 120px;
}

.thumbnail-list {
  order: 2;
  flex: 0 1 auto;
  display: flex;
  list-style: none;
  overflow-x: auto;
  padding: 0;
  justify-content: space-between;
  white-space: nowrap;
}

.detail-image-frame {
  text-align: center;
  position: relative;
}

.thumbnail-title {
  background: rgb(96, 125, 139);
  color: rgb(202, 238, 255);
  display: block;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.9) 1px 2px 9px;
  font-size: 18px;
  margin: 0;
  padding: 4px 10px;
}

.detail-image-container {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-image {
  width: 90%;
}

.detail-image-title {
  color: gold;
  position: absolute;
  bottom: -16px;
  left: 4px;
  font-size: 40px;
  text-shadow: rgba(0, 0, 0, 0.9) 1px 2px 9px;
}

@media all and (min-width: 768px) {
  .main-content {
    flex-direction: row;
    overflow: hidden;
  }

  .thumbnail-list {
    flex-direction: column;
    order: 0;
    margin-left: 20px;
  }
  .thumbnail-item {
    max-width: 260px;
  }
  .thumbnail-item + .thumbnail-item {
    margin-top: 20px;
  }
}
